service gatekeeperd /system/bin/gatekeeperd /data/misc/gatekeeper
    class late_start
    user system
    group system 5678 5666
    task_profiles ServiceCapacityLow

on post-fs-data
    mkdir /efs/gatekeeper 0775 system system
    restorecon -R /efs/gatekeeper