on boot

on init
setprop ro.boot.product.hardware.sku ${ro.boot.hardware.sku}

on post-fs-data
# NFC: create data/nfc for nv storage
    mkdir /data/nfc 0770 nfc nfc
    mkdir /data/nfc/param 0770 nfc nfc

# NFC: /efs/nfc for nv storage
    mkdir /efs/nfc 0700 nfc nfc

# NFC KEY
    mkdir /data/nfc_log 0750 nfc system
    copy /system/etc/nfc_key /data/nfc/Key
    chmod 660 /data/nfc/Key
    chown nfc nfc /data/nfc/Key
