on post-fs-data
    # h2k
    mkdir /efs/cpk 0771 radio system
    chmod 0644 /efs/cpk/redata.bin
    chown radio radio /efs/cpk/h2k.dat
    chmod 0644 /efs/cpk/h2k.dat
    chown system system /efs/drm/h2k

# insthk
service insthk /system/bin/insthk
    class core
    user system
    group system
    disabled
    oneshot

on property:sys.tzdaemon=Ready
    start insthk

on late-fs && property:vendor.tzdaemon=Ready
    start insthk
