service perfsdkserver /system/bin/perfsdkserver
    class core
    user system
    group system readproc
    socket perfsdkserver seqpacket 0660 system system
    disabled

on property:sys.boot_completed=1
    start perfsdkserver

on property:init.svc.zygote=restarting
    restart perfsdkserver